

a:link {font-family: arial; color:#eabdf3}
a:visited {font-family: arial; color: #323232}
a:active {font-family: arial; color:#323232}
a:hover {background-color:#aeedaf}
.nav li {display: inline-block; font-size: 20px; padding: 5px 20px 5px 20px; box-sizing:border-box;
  border: 1px solid #fff; color: #000}
  
.nav li:hover {border: 1px solid #333; color: #fff; background-color: #8e94cc}

.nav li a {text-decoration: none; color: inherit}	
